In [2]:
import pandas as pd
from datetime import datetime

rawpath = '../raw'

In [3]:
df = pd.read_excel(f'{rawpath}/Plakate_1933-45_ImportCBS.xlsx')
df

,Konvolut (Themengruppe),1700,1100,4105,6710,7100/7109,bereits erschlossen
0,SU/Ukraine,NaN,1941-1942,1180323777,!1246329107!,WKII 15.6.3,keine
1,NaN,/1XA-SUHH,1941-1942,!1180323777!,!1246329107!,WKII 15.6.3.1,NaN
2,NaN,NaN,1941-1942,!1180323777!,!1246329107!,WKII 15.6.3.2,NaN
3,NaN,NaN,1941-1942,!1180323777!,!1246329107!,WKII 15.6.3.3,NaN
4,NaN,NaN,1941-1942,!1180323777!,!1246329107!,WKII 15.6.3.4,NaN
...,...,...,...,...,...,...,...
1229,Belgien,NaN,1939-1943,!117658510X!,!124632749X!,WKII 15.3.1.655,NaN
1230,Belgien,NaN,1939-1943,!117658510X!,!124632749X!,WKII 15.3.1.656,NaN
1231,Belgien,NaN,1939-1943,!117658510X!,!124632749X!,WKII 15.3.1.657,NaN
1232,Belgien,NaN,1939-1943,!117658510X!,!124632749X!,WKII 15.3.1.658,NaN
1233,Belgien,NaN,1939-1943,!117658510X!,!124632749X!,WKII 15.3.1.659,NaN